main.index-main {
	z-index: 1;
	padding-right: 5rem;
	@media (max-width: 990px) {
		grid-column: 1 / -1;
		justify-self: center;
		padding-right: 0;
	}
	.details {
		display: flex;
		justify-content: flex-end;
		font-size: 2rem;
		text-align: right;
		@media (max-width: 990px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-top: 6rem;
		}
		.icon-container {
			max-width: 50px;
			width: 50px;
			transform: rotate(20deg);
			margin-left: 1.5rem;
			@media (max-width: 990px) {
				margin-top: 2rem;
				order: 1;
			}
		}
		.details-text {
			@media (max-width: 990px) {
				order: 2;
			}
		}
		p {
			margin: 0;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 5rem 0;
		display: flex;
		justify-content: flex-end;
		@media (max-width: 500px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		a {
			@media (max-width: 500px) {
				margin-bottom: 3rem;
			}
			&:hover {
				li:before {
					background: var(--cabin-colour-spooky);
				}
				li:after {
					background: #a1a8b7;
				}
			}
		}
		li {
			font-size: 1.4rem;
			cursor: pointer;
			letter-spacing: 1.6px;
			border: 2px solid var(--ship-accent-spooky);
			padding: 1rem 2rem;
			margin-right: 3.5rem;
			text-transform: uppercase;
			background: var(--lightwood-colour-spooky);
			position: relative;
			&:before, &:after {
				border: 2px solid var(--ship-accent-spooky);
				transition: background 0.2s ease;
			}
			&:before {
				@include pseudo (15px, 100%);
				right: -23px;
				top: 7px;
				transform: skewY(45deg);
				background: #a1a8b7;
				// border-left: none;
			}
			&:after {
				@include pseudo (100%, 15px);
				bottom: -24px;
				right: -14px;
				transform: skewX(45deg);
				background: var(--cabin-colour-spooky);
				// border-top: none;
			}
		}
	}
	.contact {
		text-align: right;
		margin-bottom: 5rem;
		font-size: 1.8rem;
		@media (max-width: 990px) {
			text-align: center;
		}
		a {
			display: inline-block;
			border-bottom: 4px solid transparent;
			transition: all 0.3s ease-in-out;
			&:hover {
				border-bottom: 4px solid var(--ship-accent-spooky);
			}
		}
	}
}

// Modal 
.modal-background {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background: rgba(0,0,0,0.4);
	.modal-wrapper {
		position: relative;
		min-height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.about-modal {
	background: var(--white-spooky);
	width: 45%;
	padding: 3rem 3rem 5rem 3rem;
	min-width: 280px;
	max-width: 650px;
	@media (max-width: 500px) {
		padding: 1rem 1rem 3rem 1rem;
	}
	.modal-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.modal-text {
			padding: 0 3rem;
		}
		.close-modal {
			width: 3rem;
			cursor: pointer;
			align-self: flex-end;
		}
		p {
			font-size: 1.8rem;
			color: var(--sky-bg-spooky);
			a {
				color: var(--cabin-colour-spooky);
				border-bottom: 4px solid transparent;
				transition: all 0.3s ease-in-out;
				&:hover {
					border-bottom: 4px solid var(--cabin-colour-spooky);
				}
			}
		}
	}
}